apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: cloud-ninjas
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - image: selconyt/backend:v1.0
        name: backend
        env:
        - name: DB_HOST
          value: mysql
        - name: DB_NAME
          value: cloudninjas
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: backend-sec
              key: DB_USER
        - name: DB_PASS
          valueFrom:
            secretKeyRef:
              name: backend-sec
              key: DB_PASS
        - name: REDIS_HOST
          value: redis
        ports:
        - containerPort: 8000
