apiVersion: v2
kind: Secret
metadata:
  name: frontend-tls-secret
  namespace: cloud-ninjas
type: kubernetes.io/tls
stringData:
  tls.crt: |
    -----BEGIN CERTIFICATE-----
    MIIDaDCCAlCgAwIBAgIUGobyqbGF1amcgKdXWvekqMdOPZIwDQYJKoZIhvcNAQEL
    BQAwLDEqMCgGA1UEAwwhZnJvbnRlbmQuY2xvdWQtbmluamFzLmV4YW1wbGUuY29t
    MB4XDTI1MTIzMTExNDgyMFoXDTI2MTIzMTExNDgyMFowLDEqMCgGA1UEAwwhZnJv
    bnRlbmQuY2xvdWQtbmluamFzLmV4YW1wbGUuY29tMIIBIjANBgkqhkiG9w0BAQEF
    AAOCAQ8AMIIBCgKCAQEAyBIyiuafPtcQLLdnnhopThuevkmdyA4vITLomV/ZmZit
    xiQL0tPflp9xuHyP0AEiJ/9HUlMO/Nt2ceRX04Gm2VCiyLcX0Qnxy1zV91ORfBCg
    Xv71WPAzk1QrQztWffaJ/3s2ytWK3+OgfKmfsUEQC3McMKEjJFIyF1lRMA8DbNg3
    liMY/FrYMB8nVoFUr1iBzD4QeS1+gGsTF2GKhIjdqnnzxSvJlnfzHew4q5RW23m1
    9wguad55QTWAdPUitfEPxUvLj1o2Ti1Ypooryn2w6FX/8+6bb75pUuWOsTbKxacH
    nqG1cmPttpX1c/Gcs3W9JSInTC+mWb9WrPq28R27ZwIDAQABo4GBMH8wHQYDVR0O
    BBYEFG+VNa7ViTZGM3NSgxjSYXeO7UVLMB8GA1UdIwQYMBaAFG+VNa7ViTZGM3NS
    gxjSYXeO7UVLMA8GA1UdEwEB/wQFMAMBAf8wLAYDVR0RBCUwI4IhZnJvbnRlbmQu
    Y2xvdWQtbmluamFzLmV4YW1wbGUuY29tMA0GCSqGSIb3DQEBCwUAA4IBAQCp9Vcd
    xKtQC6BaKXp3Egt1uL8/p/hHEvBeumVCZbo7Y8JcLj0iDqwTFJ2Nze3a3IE/O3pj
    PakFe1p+QFjSxQSW71dHZSPUDmh6Hq3zZoxRO+UyYclGNnMl7o7u48vg/xUsM2Sv
    6r6joRIjIWaZjN0KARvr7HhMYR+ylsXQldlDoKLXsTf1T0k6n/hkqV+kBjukZzQ/
    sCPnsuC9/cvmQNzNSS3DtJLPM2p/sRRfM1sk3f4Zg8+tloaErPZrqbkP4kvbZRpE
    Apysh+ouVd/hPx6OJQp/NUP9JDrwLwUAyyhY73DH2648MQa+DxQVw2RwesE8+jZq
    +61z8WGTU//kktHQ
    -----END CERTIFICATE-----
  tls.key: |
    -----BEGIN PRIVATE KEY-----
    MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQDIEjKK5p8+1xAs
    t2eeGilOG56+SZ3IDi8hMuiZX9mZmK3GJAvS09+Wn3G4fI/QASIn/0dSUw7823Zx
    5FfTgabZUKLItxfRCfHLXNX3U5F8EKBe/vVY8DOTVCtDO1Z99on/ezbK1Yrf46B8
    qZ+xQRALcxwwoSMkUjIXWVEwDwNs2DeWIxj8WtgwHydWgVSvWIHMPhB5LX6AaxMX
    YYqEiN2qefPFK8mWd/Md7DirlFbbebX3CC5p3nlBNYB09SK18Q/FS8uPWjZOLVim
    iivKfbDoVf/z7ptvvmlS5Y6xNsrFpweeobVyY+22lfVz8Zyzdb0lIidML6ZZv1as
    +rbxHbtnAgMBAAECggEANLyvO/PciBjyd4cEtiUZPDCFoI0RHRm4DJ05uKwOVLFt
    JOx9fV5B8pcmx8V1txOFaFue9jFUowxKZW0WRXdIfsIFlrjEe2KOrNdUwzPxBm3v
    h/rWu1Hdlnk6SieK/fsNlx1obQDq8Wcz94hSwstuqkX2aU8gT0OnVoZBo1Rhx7+j
    UQhqFglq5FQbq2istJEZUlgUQkTTIkT+rEww/2hkES3szFVAfofGXD7WsmVQRvnQ
    in/mt86wFaP7cBoC2mBnWTdgaIUNY0bYVuNf5WT/0E7Hsy7MTUpvXi4SeNxdHMa0
    vuZ9jNL7qjaVu4fQFOzsCTVe0AoPFlxJ0c6x55oNWQKBgQDbZOQj9YHdrC6yJ1kU
    q4TMsD9tQ+o2qzfZw1Jx6YlSnHPTDucufwIxOaUQHDU4k2NfhTKygXl+tAjx5s0s
    OF8lVIpBCv3aHGVMeCoGjmHgqWFh9MPFWDS8/zRhCDOj5ovdJHgQrJDSoPc22TRE
    KTy4Ow3zquQ7c83LPepGmnq7qwKBgQDpc/NgwUOxJleCg4RsVda7cgN9QE1DQJec
    ASIelWBCq3oeAtZp3aWM9SOfgm8v4eSzakE7ASLm5X6yrtrvD3XSpYfqR5SwXLGw
    9W4UH0WwbLzeGs/5I0dGGHu3WHF6/1rsvyRgTcgxErY7zzDwy5b5DqGxtHUlcx6b
    XOsCkaWjNQKBgETMG3pnN0UTBEWbbyS7MFabghg6bsyb3lSsGkNcT1KXev6ZMsdy
    znYvNGKb5diK52OBukcdsMKZpCBvFrGiL7veCcihsL7fnqhfGhaaOXkgxEfaYDWX
    FlqZ0IwI7WCdIAjFsdzQsE1MaplJfUlOgRrocdSSJyW5h7QPA1MGiCwnAoGAaNAW
    RSqAKdj9ESvbGIixkBbwWhu0lK07ZF9d4j1OqqAyg6bifUV2PoMRK1x0bxsMg0EB
    aGxqLyB6cd7vjMV0MM8A5r6ck1IKtVh7w60GrNvMY26g83S46dyYaoGbmuTTSWoM
    tgstbRSDyU1KMECgYBHeD+Nk7lGpOjKNRP8RN64Wfj8Q0u0fJDzHKxZDSwckLzt0
    AEGsGLDstjgBkC/R6fyxWOLhjsjMtu64OOtzWtDIBJohkZWv9P7h25c+UpOTSaGb
    eA28waWOlvHR8XuK8uLKqV+rkS6M9y58kWsFwaRrHw5ufveOIocNOqU4D+XLw==
    -----END PRIVATE KEY-----
