version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - SECRET_KEY=11ba08fcde1da4ef59a33052bacc6ac8d83dc6553d155bed23dea44d4a18f9f4
    volumes:
      - ./backend/app.db:/app/app.db
    restart: unless-stopped

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    restart: unless-stopped
